### MySQL Connector

Драйвер для PostgreSQL: https://pypi.org/project/psycopg2/
Драйвер для MySQL: https://pypi.org/project/mysql-connector-python/

In [1]:
from mysql.connector import connect
import pandas as pd

In [2]:
con = connect(
    host = 'localhost',
    port = '3306',
    database = 'testdb',
    user = 'root',
    password = 'root'
)

DatabaseError: 2003 (HY000): Can't connect to MySQL server on 'localhost:3306' (10061)

In [ ]:
sql = "select * from Customers"

In [ ]:
cursor = con.cursor()

In [ ]:
cursor.execute(sql)

In [ ]:
data = cursor.fetchall()

In [ ]:
data

[(21, 'Sasha', 'Averina', 'email@gmail.com', '+78888888888'),
 (19, 'Katya', 'Yakovleva', 'email@gmail.com', '+78888888888'),
 (30, 'Ivan', 'Ivanov', 'email@gmail.com', '+78888888888'),
 (43, 'Maria', 'Sydorova', 'email@gmail.com', '+78888888888'),
 (37, 'Peter', 'Korovin', 'email@gmail.com', '+78888888888')]

In [ ]:
NameList = []
for i in data:
    NameList.append(i[1])

In [ ]:
NameList

['Sasha', 'Katya', 'Ivan', 'Maria', 'Peter']

In [ ]:
df = pd.DataFrame({'Name':NameList})

In [ ]:
df

    Name
0  Sasha
1  Katya
2   Ivan
3  Maria
4  Peter

### SQLAlchemy
https://www.sqlalchemy.org/

In [ ]:
from sqlalchemy import create_engine

In [ ]:
engine = create_engine("mysql+mysqlconnector://root:root@localhost/testdb")

In [ ]:
df = pd.read_sql_query(sql=sql, con=engine)

In [ ]:
df

   Age FirstName   LastName            Email         Phone
0   21     Sasha    Averina  email@gmail.com  +78888888888
1   19     Katya  Yakovleva  email@gmail.com  +78888888888
2   30      Ivan     Ivanov  email@gmail.com  +78888888888
3   43     Maria   Sydorova  email@gmail.com  +78888888888
4   37     Peter    Korovin  email@gmail.com  +78888888888